
.cardContainer{
  margin-top: 2vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #edf0f6;
}

/* Header Styles */
header {
  background-color: #f0f5fb;
  color: #fff;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  padding: 15px 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.139) ;
  backdrop-filter: blur(10px);
  margin-bottom: 50px;
  /* position: fixed; */
  /* top: 50px; */
  /* transform: translateX(5%); */
}

h1 {
  margin: 0;
}

/* Search Bar Styles */
input[type="text"] {
  width: 30%;
  padding: 5px 10px;
  /* margin-top: 10px; */
  border: 1px solid #ccc;
  border-radius: 20px;
  color: black;
}

/* Main Content Styles */
main {
  /* margin-top: 50px; */
  width: 90%;
  margin: auto;
}

/* Car List Styles */
.car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.car-card {
  width: calc(33.33% - 20px); /* 3 cards in a row with some margin */
  margin: 0 5px;
  padding: 7px;
  backdrop-filter: blur(10px);
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
  background-color: #f0f5fb;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 1.2rem;
  margin-top: 10px;
}

p {
  margin-top: 5px;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f8f8f8;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.151) ;
}

button.active {
  background-color: #f5f5f5;
}

button:disabled {
  background-color: #dedddd;
  cursor: not-allowed;
}
.image-container{
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.image-container img{
  height: 100%;
  border-radius: 20px;

}
.car-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
/* .details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

} */

.top , .bottom{
  color: #3e3e3e;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 20px;
}
.rent{
  display: flex;

}
.line{
  margin: auto;
  width: 90%;
  background-color: rgb(163, 163, 163);
  height: 0.1px;
}
.price{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rent{
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.heart{
  padding: 2px;
  background-color: #daeafa;
  border-radius: 10px;
}
.rent-now{
  padding: 3px 10px ;
  background-color: #4999ed;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.year{
  padding: 1px 10px ;
  border: dashed #4998ed83;
  border-radius: 40px;
}
.car-name h2{
  font-size: 2vw;
}
.page-numbers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  border-radius: 40px;
  padding:0px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.148);
}
.ammount{
  font-size: 1.7em;
}